--- 
layout: default 
title: Elastest Documentation{% if page_title %} - {{ page_title }}{% endif %} 
active: documentation 
section-title: Documentation 
section-icon: mdi mdi-content-copy 
---
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/float-panel.js"></script>

<script type="text/javascript">
	$('head').append('<link rel="stylesheet" type="text/css" href="/css/theme_extra.css">');


	$( document).ready(function(){
	    $('li.subnav_drop').find('ul.subnav').hide();
	       $( ".subnav" ).find( "li:contains('{{ page_title }}')" ).each(function(i,e){
		  var currentElement = $(e);
		  currentElement.parent().css({"display":"block","visibility":"visible"}); //css("background-color","blue");
		  currentElement.css({"display":"block","visibility":"visible"});
	       });
	    $('li.subnav_drop').click(function(i,e) {  
	      $('li.subnav_drop').not(this).find('ul.subnav').hide();
	      $(this).find('ul.subnav').toggle();
	    }); 

	});
	   
	$( ".wy-nav-content" ).find( "li:contains('{{ page_title }}')" ).css('color','red');
 </script>

<div id="doc-container" class="container text-justify">
  <div class="holder range"> 
        <div class="wy-grid-for-nav cell-xs-4 cell-md-3 cell-lg-2 float-panel" data-top="56">

          {# SIDE NAV, TOGGLES ON MOBILE #}
          <nav data-toggle="wy-nav-shift" class="wy-nav-side stickynav">
            <div class="wy-menu wy-menu-vertical" role="navigation" aria-label="main navigation">
		<div id="site-menu-title">
			<h3 class="h5">Explore docs</h3>
			<hr class="divider hr-lg-left-0 bg-orange">    
		</div>
		<ul id="menu-list" class="current">
			{% for nav_item in nav %}
				{% if nav_item.title != "**HIDDEN**" %}
					<li><ul>{% include "toc.html" %}</ul></li>
				{% endif %}
			{% endfor %}
		</ul>
            </div>
            &nbsp;
          </nav>
        </div>


	<section class="section-sm-41">
		<div class="shell">
		    <div class="range range-xs-right">
		        <div class="cell-xs-10 cell-sm-8 cell-md-9 cell-lg-10 cell-xl-12 text-md-left cell-lg-push-1 offset-lg-top-0">
			  {# PAGE CONTENT #}
				<div class="wy-nav-content">
				  <div class="rst-content">
				   
				    <div role="main">
				      <div class="section">
					{% block content %}
					  {{ content }}
					{% endblock %}
				      </div>
				    </div>
			  	  {%- block footer %}
				    {% include "footer.html" %}
			  	  {% endblock %}
				  </div>
				</div>
			</div>
		    </div>
		</div>
	</section>

  </div>
</div>
